//======================
// General Button Styles
//======================

.tweet a, .dropbox button, .paypalbuynow input[type=submit].widget, .btn {	
	background-repeat: no-repeat;
	background-position: 2px 1px;
	background-size: 15px;
	padding: 0 0 0 20px;
	
	// Having to reset styles because of an additional widget class on the input.
	width: auto;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
}

.btn {
	padding: 8px 14px;
	background-image: none;
	cursor: pointer;
}

// Social Network Buttons
// ======================
.socialicons {
    a {
        //text-indent: -9999px;
        //white-space: nowrap;
        background-size: 15px;
        //width: 32px;
        //height: 32px;
        background-repeat: no-repeat;
        background-position: 2px 1px;
        padding-left: 20px;
    }
}