//======================
// Content (Text) Widget
//======================

.content {
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

	.bk-content-text ol {
		list-style-position: inside;
	}
}

.expand {
	.more, .less {
		color: @color-swatch3;
		cursor: pointer;
	}
}


.wysiwyg-font-size-xx-small { font-size: 10px; }

.wysiwyg-font-size-x-small { font-size: 12px; }

.wysiwyg-font-size-smaller { font-size: 14px; }

.wysiwyg-font-size-small { font-size: 16px; }

.wysiwyg-font-size-medium { font-size: 18px; }

.wysiwyg-font-size-large { font-size: 20px; }

.wysiwyg-font-size-larger { font-size: 24px; }

.wysiwyg-font-size-x-large { font-size: 28px; }

.wysiwyg-font-size-xx-large { font-size: 30px; }