//======================
// Content (Text) Widget
//======================

.content {
    -ms-word-break: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

	.bk-content-text ol {
		list-style-position: inside;
	}
}

.expand {
	.more, .less {
		color: @color-swatch3;
		cursor: pointer;
	}
}
