//======================
// Content (Text) Widget
//======================

.content {
	.bk-content-text ol {
		list-style-position: inside;
	}
}

.expand {
	.more, .less {
		color: @color-swatch3;
		cursor: pointer;
	}
}
