//=============
// Ecom Product List
//=============

.ecomproductslist {
    .ecom-productslist-image-wrap {
        background-repeat: no-repeat;
        .ecom-productslist-image {
            max-width:100%;
        }
    }
}

//=============
// Ecom Product
//=============

.ecomproduct {
    .ecom-product-image-wrap {
        background-repeat: no-repeat;
        .ecom-product-image {
            max-width:100%;
        }
    }
}