//=============
// Menu Styling
//=============

.menu {
    .main {
        padding: 0;
    }
    .menu-items {
        padding-left: 0;
        li {
            list-style: none;
            padding: 1.5em 0;
        }
    }
    .menu-item-image-wrap {
        background-repeat: no-repeat;
        .menu-item-image {
            max-width:100%;
        }
    }
    .menu-subsection {
        padding: 4%;
        margin: 1.5em 0;
        li { 
            list-style: none;
        }
    }
    .menu-section-item-dietary-props, .menu-info {
        .dietary-icon {
            display: inline-block;
            border: 0;
            margin: 5px 5px 0 0;
            text-align: center;
        }
        .not-spicy-icon {
            display: none;
        }
    }
}


//==============
// Menu Sections
//==============

.widget {
    &.menusections {
        margin: 1em auto; 
        ul {
            padding: 1em 0;
            list-style: none;
            li {
                display: inline-block;
                margin: 0 1em;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }    
    }
}
