//===============
// Twitter Widget
//===============

.widget {
    &.twitter {
        padding: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                padding-bottom: 30px;
                .clearfix;
                a {
                    text-decoration: none;
                    // Allows text wrap for long words without spacing
                    -ms-word-break: break-all;
                    word-break: break-all;
                    word-break: break-word;
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    word-wrap: break-word;
                    hyphens: auto;
                    // Needed for Windows Mobile IE
    				display: inline-block;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                span {
                    /* Styles for Tweet type link */
                    a {
                        text-decoration: underline;
                    }
                }
                time {
					// Timestamp
                }
            }
        }
        .twitter-profile-pic {
            // Avatar
            float: left;
            margin-right: 20px;
        }
    }
}
