//==============================
// Cookie warning styles
//==============================
.bk-cookie-container {
    position: fixed;
    width: 750px;
    left: 50%;
    bottom: 10px;
    margin-left: -375px;
    text-align: center;
    border: 1px solid #333;
    font-family: @font-swatch1-font-family;
    color: #333;
    background-color: #FFF;
    font-weight: 600;
    z-index: 2147483647;
    p {
        padding: 0.8em;
    }
    @media @tablet {
        width: 500px;
        margin-left: -250px;
    }
    @media @mobile {
        width: 100%;
        margin: 0px;
        left: 0px;
        bottom: 0px;
        border: none;
        border-top: 1px solid #333;
    }
    .bk-cookie-close-button {
        position: absolute;
        color: #333;
        top: 1px;
        right: 2px;
        line-height: 1em;
    }
}