//=================
// Fonecta Contact Form
//=================

.widget.fonectacontactform {
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
    .form-group {
        margin-bottom: 1em;
    }
    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
    }
}
