//=============
// Image Widget
//=============

.widget {
    &.image {
        .clearfix;

        a {
            max-width: 100%;
        }

        span {
            &.image-title {
                display: block;
                margin: 5px;
                font-family: @font-swatch4-font-family;
                font-weight: @font-swatch4-font-weight;
                font-size: @font-swatch4-font-size;
                line-height: @font-swatch4-line-height;
                text-align: center;
            }
            &.image-description {
                display: block;
                margin: 5px;
                font-family: @font-swatch5-font-family;
                font-weight: @font-swatch5-font-weight;
                font-size: @font-swatch5-font-size;
                line-height: @font-swatch5-line-height;
                text-align: center;
            }
            img {
                display: inline-block;
                max-width: 100%;
            }
        }

        .image-img {
            max-width: 100%;
        }


        // Align Left
        .widget-align-left {
            span {
                &.image-title, &.image-description {
                    text-align: left;
                    margin-right: 0;
                }

                img {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }

        // Align Right
        .widget-align-right {
            span {
                &.image-title, &.image-description {
                    text-align: right;
                    margin-right: 0;
                }

                img {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }

        // Align Center
        .widget-align-center {
            span {
                &.image-title, &.image-description {
                    text-align: center;
                }

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
